.cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: $cookieBannerBox;
  color: $colourTextReverse;
  font-size: 0.875rem;
  text-align: center;
  margin: 0;
  padding: 1.5rem;
}

.cookie-banner__text {
  display: block;
}

.cookie-banner__button {
  display: block;
  margin: auto;
  margin-top: 0.75rem;
  font-size: 0.66rem !important;
  min-width: 6rem !important;
  height: 2.25rem !important;
}

.cookie-banner__link {
  color: $colourTextReverse;
  text-decoration: underline;
}
