.expanding-email-field {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "name email";
  grid-gap: 1.5rem;
}

.expanding-email-field__pair--name {
  grid-area: name;
}

.expanding-email-field__pair--email {
  grid-area: email;
}
