$idleBorderColour: $borderColour;
$activeBorderColour: $colourPrimary;
$solidBorderStyle:  0.063rem solid $activeBorderColour;

.file-upload {
    width: 100%;
}

.file-upload__dropzone {
    border: 0.125rem dashed $idleBorderColour;
    padding: 2.25rem;
    text-align: center;
    &:focus {
        outline: none;
    }
}

.file-upload__dropzone--drag-active {
    &:hover {
        border: $solidBorderStyle;
    }
}
.file-upload__dropzone--complete { 
    border: $solidBorderStyle;
}

.file-upload__dropzone--error {
    border-color: $colourError;
}

.file-upload__error-prefix {
    color: $colourError;
}

.file-upload__description {
    display: block;
    margin-bottom: 0.5rem;
}
.file-upload__extra {
    display: block;
}

.file-upload__progress-percentage {
    color: $colourPrimary;
}
