.image-attributed__image {
  width: 75%;
  height: 100%;
  display: none;
  @include forSize('tabletLandscapeUp') {
    display: block;
  }
}

.image-attributed__image--right {
  margin-right: auto;
  text-align: left;
}

.image-attributed__image--left {
  margin-left: auto;
  text-align: right;
}

.image-attributed__image--image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.image-attributed__image--credit {
  color: $colourTextLarge;
  font-size: 12px;

  a {
    color: inherit;
    text-decoration: underline;
  }
}
