.paragraph {
  margin-top: 0;
  margin-bottom: 1.5rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.paragraph--footer {
  margin-left: -0.75rem;
  grid-area: footer;
  align-self: center;
  text-align: center;
  @include forSize('tabletLandscapeUp') {
    margin-left: 0.75rem;
  }
}
