.person-pod__text {
     text-align: left;
}

.person-pod__text--row {
    display: block;
    @include typographyEllipsisWrap
}
.person-pod__selected_icon {
    color: $colourPrimary;
}

.person-pod__inline_text {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $colourPrimary;
    margin-top: 0.118rem;

    span {
        margin-left: 0.563rem;
        @include typographyEllipsisWrap
    }
}

.person-pod__info_icon {
    cursor: pointer;
}
