.pod {
  display: grid;
  grid-template-columns: 1fr 2.625rem;
  grid-template-areas:
        "body button";
  border: $border;
  border-radius: 0.188rem;
  background-color: $colourSecondary;
  height: 7.5rem;
  padding: 0.75rem;
}

.pod__error {
  border: $borderError;
}

.pod__body {
  padding: 0.75rem;
  grid-area: body;
  overflow: hidden;
}

.pod__button {
  border: none;
  font-size: 0;
  width: 3rem;
  background-color: transparent;
  cursor: pointer;
  color: $colourTextSecondary;
  grid-area: button;
}
