.selected_people_list {
  @include twoColumnGrid;
  grid-gap: 1.5rem;
}

.selected_people_list__item {
  overflow: hidden;
  display: inline-block;
}

.selected_people_list__pod-content {
  display: flex;
  height: 100%;
  align-items: center;
}
