.two-column-layout {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 3rem;
  @include forSize('tabletLandscapeUp') {
    grid-template-columns: 1fr 1fr;
  }
}

.two-column-layout__left {
  grid-column: 1;
}

.two-column-layout__right {
  grid-column: 2;
}

.two-column-layout__full_column {
  grid-row: 1 / span 3;
}
