.author-step {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 6rem 6rem;
  grid-template-areas:
    "author-step ."
    "firstName lastName"
    "email institution";
  grid-gap: 1.5rem;
  margin-bottom: 4.5rem;

  @include forSize('tabletPortraitDown') {
    grid-template-columns: 1fr;
    grid-template-areas:
      "author-step"
      "firstName"
      "lastName"
      "email"
      "institution";
  }
}

.author-step__title {
  margin-bottom: 2.25rem;
}

.author-step__link_text {
  margin-bottom: 1rem;
}

.author-step__firstName {
  grid-area: firstName;
}

.author-step__lastName {
  grid-area: lastName;
}

.author-step__email {
  grid-area: email;
}

.author-step__institution {
  grid-area: institution;
}

