.files-step__title {
  margin-bottom: 2.25rem;
}

.files-step__link--nested {
  margin-bottom: 0;
}

.cover-letter__list {
  margin-top: 0;
  margin-bottom: 2.25rem;
  padding-left: 1.2rem;
}

.cover-letter {
  margin-bottom: 5rem;
}

.file-upload {
  margin-bottom: 5rem;
}

.supporting-files {
  margin-bottom: 4.5rem;
}
