.submission-wizard {
  @include standardGrid;
}

.submission-wizard-back-button {
  margin-right: 1.5rem;
}

.spinner-center {
  display: flex;
  justify-content: center;
  padding: 5rem 0;
}

.infoStep__buttons {
    display: grid;
    grid-template-columns: 7.5rem 7.5rem;
    grid-column-gap: 1.5rem;
    margin-top: 3rem;
}
