.thank-you-page-step {
    @include standardGrid;
    align-self: center;
    text-align: center;
    grid-row: 1 / span 2;
    @include forSize('tabletPortraitDown') {
        align-self: start;
        grid-row: 2;
    }

    p {
        a,
        a:visited,
        a:hover {
            background-color: transparent;
            color: rgb(2, 136, 209);
            text-decoration: none;
            display: block;
        }
    }

    .button {
        text-decoration: none;
    }
}
