.author-guide-page {
    grid-area: static-nav;
    display: flex;
    flex-direction: column;
    @include forSize('tabletPortraitUp') {
        flex-direction: unset;
        justify-content: center;
        grid-area: main;
    }
    a, a:visited, a:hover {
      background-color: transparent;
      color: rgb(2, 136, 209);
      text-decoration: none;
    }
    h1 {
        margin-top: 0;
    }
    .author-guide-content {
        padding: 0 2rem;
        @include forSize('tabletPortraitUp') {
            padding: 0;
        }
    }
    .blue-box {
        box-sizing: border-box;
        margin-bottom: 12px;
        padding: 24px;
        border: 1px solid rgb(2, 136, 209);
        background-color: rgba(2, 136, 209, 0.125);
    }

    ol {
      font-weight: 600;
      li {
        margin: 10px 0;
        .bullet-heading {
          font-weight: 600;
        }
      }
    }
}