.dropdown-nav {
    display: none;
    padding-bottom: 1rem;
    grid-row: 1;
    grid-column: 1 / span 12;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    @include forSize('phoneUp') {
        margin-left: -3rem;
        margin-right: -3rem;
    }

    @include forSize('tabletPortraitDown') {
        display: flex;
    }
}

.mobile-dropdown {
    width: 100%;

    .select-nav__value-container {
        padding: 0;
        padding-left: 2rem;
    }
    .select-nav__menu {
        border: none;
        border-top: 0;
        border-radius: 0;
        box-shadow: 0;
        padding: 0;

        .select-nav__menu-list {
            padding: 0;
            max-height: 100%;
            .select-nav__option {
                padding: 1.5rem 2rem;
            }
        }

        .select-nav__option--is-focused {
            background-color: unset;
        }

        .select-nav__option {
            color: rgb(136, 136, 136);
        }

        .select-nav__option--is-selected {
            background-color: unset;
            color: rgb(33, 33, 33);
        }
    }
    .select-nav__indicator-separator {
        display: none;
    }
    .select-nav__indicator.select-nav__clear-indicator {
        display: none;
    }
    .select-nav__control {
        min-height: 5rem;
        border: 1px solid rgb(224, 224, 224);
        border-left: none;
        border-right: none;
        border-radius: 0;

        &.select-nav__control--menu-is-open {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            border: none;
            box-shadow: 0;
        }
    }
}

.side-bar-nav {
    display: block;
    grid-row: 2;
    grid-column: 2 / span 2;

    @include forSize('desktopDown') {
        grid-column: 2 / span 2;
    }
    @include forSize('tabletPortraitDown') {
        display: none;
    }

    span {
        display: block;
        padding: 10px 50px 10px 0;
        a {
            cursor: pointer;
            text-decoration: none;
            color: rgb(136, 136, 136);
            white-space: nowrap;
        }
        a:hover {
            color: rgb(33, 33, 33);
            text-decoration: none;
        }
        a.active {
            color: rgb(33, 33, 33);
        }
    }
}
