.table-guide {
    overflow-x: scroll;

    @include forSize('tabletPortraitDown') {
      max-width: calc(100vw - 6rem);
    }

    @include forSize('phoneDown') {
      max-width: calc(100vw - 3rem);
    }

    table {
      border-collapse: collapse;
      border-spacing: 0;
      th {
        background-color: rgb(247, 247, 247);
        font-size: 12px;
        padding: 6px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(224, 224, 224);
        border-image: initial;
      }
      tr {
        text-align: center;
        &:hover {
          background-color: aliceblue;
        }
      }
      td {
        font-size: 12px;
        padding: 6px;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(224, 224, 224);
        border-image: initial;
      }
    }
  
    ul {
      list-style: none;
      padding: 0px;
      li {
        font-size: 13px;
      }
    }
  
  }