.dropdown-nav {
    display: flex;
    @include forSize('tabletPortraitUp') {
        display: none;
    }
}
.side-bar-nav {
    display: none;
    flex-direction: column;
    padding: 0 50px 0 0;

    @include forSize('tabletPortraitUp') {
        display: flex;
    }

    span {
        padding: 10px 0px;
        a {
            cursor: pointer;
            text-decoration: none;
            color: rgb(136, 136, 136);
            white-space: nowrap;
        }
        a:hover {
            color: rgb(33, 33, 33);
            text-decoration: none;
        }
        a.active {
            color: rgb(33, 33, 33);
        }
    }
}
