.static-page {
    grid-area: main;
    display: flex;
    flex-direction: column;
    @include forSize('tabletPortraitUp') {
        flex-direction: unset;
        grid-area: main;
    }
    h1 {
        margin-top: 0;
    }
    .static-page__content {
        padding: 2rem 0;
        @include forSize('tabletPortraitUp') {
            width: calc(100% - 100px);
            padding: 0;
        }
        a, a:visited, a:hover {
          background-color: transparent;
          color: rgb(2, 136, 209);
          text-decoration: none;
        }
    }
    .blue-box {
        box-sizing: border-box;
        margin-bottom: 12px;
        padding: 24px;
        border: 1px solid rgb(2, 136, 209);
        background-color: rgba(2, 136, 209, 0.125);
    }

    ul, ol {
      li {
        margin: 20px 0;
        .bullet-heading {
          font-weight: 600;
        }
      }
    }
}

.person-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .person-grid-item {
    @include forSize('desktopUp') {
      width: 33.33%;
    }
  }
}