.static-page {
    overflow: hidden;
    grid-row: 2;
    grid-column: 4 / span 6;
    @include forSize('desktopDown') {
      grid-column: 5 / span 6;
    }
    @include forSize('tabletLandscapeDown') {
      grid-column: 5 / span 7;
    }
    @include forSize('tabletPortraitDown') {
      grid-column: 1 / span 12;
    }
    display: flex;
    .static-page__content {
        width: 100%;
        padding: 2rem 0;
        @include forSize('tabletPortraitUp') {
            padding: 0;
        }
        a, a:visited, a:hover {
          background-color: transparent;
          color: rgb(2, 136, 209);
          text-decoration: none;
        }
    }
    .blue-box {
        box-sizing: border-box;
        margin-bottom: 0.75rem;
        padding: 1.5rem;
        border: 1px solid rgb(2, 136, 209);
        background-color: rgba(2, 136, 209, 0.125);
    }

    ul, ol {
      li {
        margin: 1.25rem 0;
        .bullet-heading {
          font-weight: 600;
        }
      }
    }
}

.person-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .person-grid-item {
    @include forSize('desktopUp') {
      width: 33.33%;
    }
  }
}
