.survey {
  @include standardGrid;

  h2 {
    margin-bottom: 27px;
  }

  h3 {
    margin-top: 72px;
  }

  h3:first-child {
    margin-top: 42px;
  }

  .select-field__input .select-field__control {
    width: 100%;
  }
  
  .content-toggle {
    margin-top: 24px;
  }

  button {
    margin-right: 24px;
  }

  .radio-button__group {
    margin-bottom: 54px;

    ul {
      padding-left: 0px;
    }
  }

  .text-field {
    margin-bottom: 72px;
  }
}