events {
    worker_connections 2000;
}

http {
  server {
    listen ${CLIENT_PORT};

    location /graphql {
      proxy_pass ${CLIENT_API_PROXY_URL}:${SERVER_PORT};
    }

    location / {
      root /usr/share/nginx/html;
      try_files $uri /index.html;
    }
  }
}
