.article-type {
  grid-area: main;
}

.article-type__content {
  margin-top: 2rem;
}

.article-type__buttons {
  display: grid;
  grid-template-columns: 120px 120px;
  grid-column-gap: 1.5rem;

  margin-top: 3rem;
}
