.article-type {
  @include standardGrid;
  align-self: center;
  grid-row: 1 / span 2;

  @include forSize('tabletPortraitDown') {
    align-self: start;
    grid-row: 2;
  }
}

.article-type__content {
  margin-top: 2rem;
}

.article-type__buttons {
  display: grid;
  grid-template-columns: 7.5rem 7.5rem;
  grid-column-gap: 1.5rem;

  margin-top: 3rem;
}
