.no-submissions {
  @include welcomePages;
}

.no-submissions__text {
  margin-bottom: 3rem;
}

.no-submissions__buttons {
  display: flex;
  align-items: center;
  align-self: end;
}

.no-submissions__buttons--orcid {
  margin-right: 1.5rem;
}
