.login-page {
  justify-content: center;
  grid-area: main;
  h1.typography__heading.typography__heading--h1 {
    margin-top: 0;
  }
}

.login-page__text {
  margin-bottom: 3rem;
}

.login-page__buttons {
  display: flex;
  align-items: center;
}

.login-page__buttons--orcid {
  margin-right: 1.5rem;
}
