#app {
  display: grid;
  grid-template-columns: 16.666% auto 16.666%;
  grid-template-rows: 4.5rem 4.5rem 1fr 4.5rem 4.5rem;
  min-height: 100vh;
  grid-template-areas:
          "header header header"
          "static-nav static-nav static-nav"
          "left-menu main ."
          ". . ."
          "footer footer footer";

  @include forSize('phoneUp') {
    grid-template-columns: 1.5rem auto 1.5rem;
  }
  @include forSize('tabletPortraitUp') {
    grid-template-columns: auto 28.375rem auto;
  }
  @include forSize('tabletLandscapeUp') {
    grid-template-columns: auto 49.125rem auto;
  }
  @include forSize('desktopUp') {
    grid-template-columns: auto 52.5rem auto;
  }
}
