#app {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4.5rem auto 1fr 4.5rem 4.5rem;
  min-height: 100vh;
  grid-template-areas:
          "header"
          "feedback"
          "main"
          "."
          "footer";
}

.grid {
  grid-area: main;
  display: grid;
  grid-template-rows: 4.5rem 1fr;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 76.5rem;

  @include forSize('desktopDown') {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    max-width: none;
  }

  @include forSize('tabletPortraitDown') {
    margin-left: 3rem;
    margin-right: 3rem;
  }

  @include forSize('phoneDown') {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

}

@mixin standardGrid {
  grid-column: 3 / span 8;
  grid-row: 2;

  @include forSize('tabletLandscapeDown') {
    grid-column: 2 / span 10;
  }

  @include forSize('tabletPortraitDown') {
    grid-column: 1 / span 12;
  }
}

@mixin welcomePages {
  justify-content: center;
  grid-column: 3 / span 8;
  grid-row: 2;
  align-self: center;
  h1.typography__heading.typography__heading--h1 {
    margin-top: 0;
  }

  @include forSize('desktopDown') {
    grid-column: 2 / span 10;
  }
  @include forSize('tabletLandscapeDown') {
    grid-column: 3 / span 8;
  }

  @include forSize('tabletPortraitDown') {
    grid-column: 1 / span 12;
    align-self: start;
  }
}
